.image-with-text__content {
  color: var(--cream);
}

.image-with-text__heading {
  color: var(--cream);
  font-family: 'Gotham Rounded';
  font-weight: 400;
}

.image-with-text p {
  font-family: 'mondeurregular';
  font-size: 18px;
}

.image-with-text__heading.h0 {
  color: black;
  font-family: 'mondeurregular';
}

.medical .rich-text__blocks {
  font-size: 24px;
}

.image-with-text__text.rte.subtitle p {
  font-family: 'Gotham Rounded';
}

.header-wrapper {
  background-color: white;
}

.collection h2,
.multicolumn h2 {
  text-align: center;
}

.footer .footer__content-top,
.link.link--text.list-menu__item.list-menu__item--link {
  color: var(--cream);
}

.footer-block__heading {
  display: none;
}

.footer-block__details-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  margin-top: 2rem;
}

.footer__blocks-wrapper {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 990px) {
  .footer__blocks-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }
  .footer-block__details-content {
    flex-direction: row;
    margin-top: 0;
  }
}

.footer-block-image {
  text-align: center;
  width: 100%;
}

.link.list-social__link {
  color: var(--cream);
}

.list-social__item > a:first-of-type {
  padding-left: 0;
}

.footer__list-social.list-social {
  justify-content: flex-start;
  gap: 10px;
}

@media screen and (min-width: 990px) {
  .footer__list-social.list-social {
    justify-content: flex-end;
  }
}

.title-wrapper-with-link {
  justify-content: center;
}

.banner__media.media {
  background-color: var(--cream);
}

.newsletter-form__field-wrapper input {
  border: 1px solid var(--cream);
  color: var(--cream);
}

.newsletter-form__field-wrapper label,
.newsletter-form__button.field__button {
  color: var(--cream);
}

.announcement-bar__message {
  font-family: 'Gotham Rounded';
}

.our-story,
.medical,
.contact-us,
.cart-template,
.contact-us section,
.product-template,
.customers-login-template,
.customers-register-template,
.collection-template,
.product-form__submit,
.quick-add__submit,
button.shopify-payment-button__button,
.cart__checkout-button,
.cart__warnings .button,
.customer.login button,
#RecoverEmail,
#CustomerEmail,
#CustomerPassword,
#RegisterForm-FirstName,
#RegisterForm-LastName,
#RegisterForm-email,
#RegisterForm-password,
.customer.register button {
  background-color: white;
}

button.shopify-payment-button__button,
.product-form__submit,
.cart__checkout-button,
.cart__warnings .button,
.quick-add__submit,
.customer.login button,
.customer.register button {
  border: 1px solid black;
}

.contact {
  margin-top: 16rem;
}

.product__text {
  color: #f6df81;
}

.multicolumn-card__info h3,
.accordion__title {
  font-family: 'Gotham Rounded';
}

.multicolumn-card__info .rte p {
  text-transform: uppercase;
}

.product__description > .varint_cu:first-of-type {
  color: var(--green);
  font-size: 16px;
}

.header__icon--search {
  display: none;
}

.featured-collection-desc {
  font-family: 'Gotham Rounded';
  font-size: 12px;
}

.card__heading {
  font-size: 24px;
}

.quick-add form {
  width: 150px;
  margin-top: 20px;
}

.card__heading {
  margin-bottom: 30px;
}

.our-story .rich-text__text p:nth-of-type(6) {
  color: var(--green);
}

.our-story .rich-text__blocks {
  line-height: 3;
  max-width: 90rem;
}

.our-story p {
  font-weight: 500;
}
